@charset "utf-8";

@import "variables";
@import "reset";
  
.container {
    max-width: $site-width;
    margin: 0 auto;
}

.primary {
    background-color: $primary-color;
    color: $background-color;

    a {
        color: $background-color;
    }
}

.skip-link {
    position: absolute;
    top: -9999px;
    display: inline-block;
    background-color: $background-color;
}

.skip-link:active, .skip-link:focus, .skip-link:hover {
    top: 0;
}

.site-content {
    background-color: $background-color;
    padding: 32px;
}

.site-nav {
    background-color: $primary-color-dark;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    
    z-index: 1;

    a {
        color: $background-color;
    }

    &__title {
        background-color: $primary-color;
        padding: 8px 16px;
    }

    &__links {
        flex: 1;
        display: flex;
        list-style: none;
        padding: 8px 16px;
        gap: 16px;
    }
}

.site-intro {
    display: flex;
    align-items: center;
    padding: 32px;
    gap: 32px;

    &__info {
        flex: 1;
    }

    &__image img {
        border-radius: $roundness;
        box-shadow: $shadow;
    }

    @media (max-width: $site-width) {
        flex-direction: column;
        align-items: center;

        &__title {
            text-align: center;
        }

        &__info {
            max-width: 512px;
            margin: 0;
        }
    }
}

.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding-left: 0;

    .icon {
        display: inline-block;
        width: 24px;
    }

    a {
        display: block;
        text-align: center;
        border-radius: $roundness;
        padding: 4px 8px;
        background-color: $background-color;
        color: $primary-color;
        font-weight: bold;
    }

    &.invert a {
        border: 1px solid $primary-color;
    }

    @media (max-width: $site-width) {
        li {
            width: 100%;
        }

        a {
            padding: 8px;
        }
    }
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.page-heading {
    font-size: $font-size-heading;
    line-height: $line-height-heading;
    margin-bottom: 16px;
}

.post-summary {
    &__title {
        font-size: $font-size-subheading;
        line-height: $line-height-heading;
        margin-bottom: 4px;
    }

    &__info {
        font-size: $font-size-small;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
}

.post {
    &__title {
        font-size: $font-size-heading;
        line-height: $line-height-heading;
        margin-bottom: 8px;
    }

    &__info {
        font-size: $font-size-normal;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__note {
        padding: 16px;
        background-color: $accent-color;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    &__note-title {
        font-size: $font-size-large;
    }
}

.content {
    p, ul, dl, ol, pre {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: $line-height-heading;
        margin-bottom: 16px;
    }
    
    h1 {
        font-size: $font-size-heading;
    }

    h2 {
        font-size: $font-size-subheading;
    }
    
    h3 {
        font-size: $font-size-large;
    }

    img, picture, video, canvas, svg {
        padding: 16px;
        background-color: $accent-color;
        border-radius: $roundness;
        margin: 0 auto;
    }

    pre {
        padding: 16px;
        border-radius: $roundness;
        overflow: auto;
    }
}

.utterances {
    margin-top: 32px;
}

.site-footer {
    padding: 8px 16px;
    font-size: $font-size-small;
}