@charset "utf-8";

@import "variables";
@import "reset";
@import "icons";
  
.container {
    max-width: $site-width;
    margin: 0 auto;
}

.primary {
    background-color: $primary-color;
    color: $background-color;

    a {
        color: $background-color;
        font-weight: bold;
    }
}

.skip-link {
    position: absolute;
    top: -9999px;
    display: inline-block;
    background-color: $background-color;
}

.skip-link:active, .skip-link:focus, .skip-link:hover {
    top: 0;
}

.site-content {
    background-color: $background-color;
    padding: 32px;
}

.site-nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 8px 16px;
    z-index: 1;

    &__title {
        flex: 1;
        font-size: $font-size-normal;
    }

    &__links {
        display: flex;
        list-style: none;
        padding: 0;
        gap: 16px;
    }
}

.site-intro {
    display: flex;
    align-items: center;
    padding: 32px;
    gap: 32px;

    &__info {
        flex: 1;
    }

    &__image img {
        border-radius: $roundness;
        box-shadow: $shadow;
    }

    &__greeting {
        font-weight: bold;
    }

    @media (max-width: $site-width) {
        flex-direction: column;
        align-items: center;

        &__info {
            max-width: 512px;
            margin: 0;
        }
    }
}

.socials {
    list-style: none;
    columns: 2;
    padding-left: 0;

    .icon {
        display: inline-block;
        width: 24px;
    }
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.page-heading {
    font-size: $font-size-heading;
    line-height: $line-height-heading;
    margin-bottom: 16px;
}

.post-summary {
    &__title {
        font-size: $font-size-subheading;
        line-height: $line-height-heading;
        margin-bottom: 4px;
    }

    &__info {
        font-size: $font-size-small;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
}

.post {
    &__title {
        font-size: $font-size-heading;
        line-height: $line-height-heading;
        margin-bottom: 8px;
    }

    &__info {
        font-size: $font-size-normal;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__note {
        padding: 16px;
        background-color: $accent-color;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    &__note-title {
        font-size: $font-size-large;
    }
}

.content {
    p, ul, dl, ol, pre {
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: $line-height-heading;
        margin-bottom: 8px;
    }
    
    h1 {
        font-size: $font-size-heading;
    }

    h2 {
        font-size: $font-size-subheading;
    }
    
    h3 {
        font-size: $font-size-large;
    }

    img, picture, video, canvas, svg {
        padding: 16px;
        background-color: $accent-color;
        border-radius: $roundness;
    }

    pre {
        padding: 16px;
        border-radius: $roundness;
        overflow: auto;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project {
    background-color: $accent-color;
    // box-shadow: $shadow;

    &__heading {
        display: flex;
        align-items: center;
        padding: 8px 16px;
    }

    &__title {
        flex: 1;
        font-size: $font-size-normal;
    }

    &__type {
        font-style: italic;
    }

    &__info {
        padding: 16px;
        font-size: $font-size-small;
    }
}

.site-footer {
    padding: 8px 16px;
    font-size: $font-size-small;
}