.Post {
    pre,
    iframe,
    img {
        display: block;
        margin: 32px auto;
        padding: 16px;
        background-color: #eeeeee;
        max-width: 100%;
    }

    pre {
        overflow: auto;
    }

    #disqus_thread iframe {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
}
