.PostHeader {
    &__title {
        margin-top: 0;
        margin-bottom: 8px;

        a {
            color: $base-color;
        }
    }

    &__info {
        margin-top: 0;
        text-transform: uppercase;
        font-family: $header-font;
    }

    &__timestamp {
        color: $base-color;
    }
}