{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <div class="content">
        <h1>{{ page.title }}</h1>
        <p>
            If you want to get in touch, you can find me on all of these sites:
        </p>
        
        {{ macros::socials(invert=true) }}

        <p>
            I have a <a href="https://twitter.com/17cupsofcoffee">Twitter</a> too, but I'm not really active there any more.
        </p>

        <p>
            Finally, you can also email me via <code>joe (AT) seventeencups (DOT) net</code>.
        </p>
    </div>
{% endblock content %}