{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}</title>
    
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="author" content="Joe Clay">

    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:image" content="{{ get_url(path="favicon-256x256.png") }}">
    <meta property="og:type" content="website">

    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ config.title }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@17cupsofcoffee">
    <meta name="twitter:creator" content="@17cupsofcoffee">

    <link rel="icon" type="image/png" sizes="192x192" href="{{ get_url(path="favicon-192x192.png") }}">
    <link rel="icon" type="image/png" sizes="128x128" href="{{ get_url(path="favicon-128x128.png") }}">
    <link rel="manifest" href="{{ get_url(path="manifest.json") }}">
    <meta name="theme-color" content="#8e44ad">

    {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endif %}

    <link rel="stylesheet" href="{{ get_url(path="main.css") }}">
</head>
<body>
    <a href="#main-content" class="skip-link">Skip to content</a>

    <div class="container">
        <nav class="site-nav primary">
            <h1 class="site-nav__title">
                <a href="/">Joe Clay</a>
            </h1>
            <ul class="site-nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        {% if current_path and current_path == "/" %}
            <header class="site-intro primary">
                <div class="site-intro__image">
                    <img src="/favicon-512x512.png" srcset="/favicon-128x128.png 128w, /favicon-256x256.png 256w, /favicon-512x512.png 512w" sizes="256px" width="256" height="256" alt="A picture of Joe Clay">
                </div>
                <div class="site-intro__info content">
                    <p>
                        <span class="site-intro__greeting">Hi, I'm Joe</span> (they/them)!
                    </p>

                    <p>
                        I'm a software engineer, musician and hobbyist gamedev from the UK.
                    </p>

                    <p>
                        You can find me around the web in various places:
                    </p>

                    {{ macros::socials() }}
                </div>
            </header>
        {% endif %}

        <div class="site-content" id="main-content">
            {% block content %}
                {% set posts = get_section(path="posts/_index.md") %}
                {{ macros::post_list(posts=posts.pages) }}
            {% endblock content %}
        </div>

        <footer class="site-footer primary">
            © 2017-{{ now() | date(format="%Y") }} <a href="{{ get_url(path="/") }}">Joe Clay</a>. Powered by <a href="https://www.getzola.org/">Zola</a>.
            <br>
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
            <br>
            Icons from <a href="http://fontawesome.com">Font Awesome</a>, packaged with <a href="http://icomoon.io/">IcoMoon</a>.
        </footer>
    </div>

    <script type="module">
        import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>
</body>
</html>
