{% macro post_header(page, excerpt=false) %}
    <header class="post-header">
        <h1 class="post-header__title">
            <a href="{{ page.permalink }}">
                {{ page.title }}
            </a>
        </h1>
        <p class="post-header__info">
            {% if page.date %}
                <a class="post-header__timestamp" href="{{ page.permalink }}">
                    <time datetime="{{ page.date }}">
                        {{ page.date | date(format="%B %e, %Y") }}
                    </time>
                </a>
            {% endif %}
            {% if page.taxonomies.tags %}
                {% for tag in page.taxonomies.tags %}
                    &bull;
                    <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </p>
        {% if excerpt %}
            <p class="post-header__excerpt">
                {{ page.content | safe | striptags | truncate }}
                <a href="{{ page.permalink }}">more</a>
            </p>
        {% endif %}
    </header>
{% endmacro post_header %}