{% macro post_list(posts) %}
    <div class="post-list">
        {% for page in posts %}
            <article class="post-summary">
                <h3 class="post-summary__title">
                    <a href="{{ page.permalink }}">
                        {{ page.title }}
                    </a>
                </h3>
                <p class="post-summary__info">
                    <time class="post-summary__date" datetime="{{ page.date }}">
                        {{ page.date | date(format="%B %e, %Y") }}
                    </time>

                    &mdash;

                    {% if page.taxonomies.tags %}
                        {% for tag in page.taxonomies.tags %}
                            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
                <p class="post-summary__description">
                    {{ page.description }}
                </p>
            </article>
        {% endfor %}
    </div>
{% endmacro post_list %}

{% macro socials() %}
    <ul class="socials">
        {% for social in config.extra.socials %}
        <li>
            <a href="{{ social.url }}"><span class="icon icon-{{ social.icon }}" aria-hidden="true"></span>{{ social.name }}</a>
        </li>
        {% endfor %}
    </ul>
{% endmacro socials %}