{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block title %}
    <title>{{ page.title }} - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
    <meta property="og:url" content="{{ page.permalink }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="{{ config.title }}">

    {% if page.date %}
        <meta property="og:type" content="article">
        <meta property="article:published_time" content="{{ page.date }}">
        <meta property="article:author" content="{{ get_url(path="/") }}">
    {% else %}
        <meta property="og:type" content="website">
    {% endif %}
{% endblock meta %}

{% block content %}
<article class="Post">
    {{ macros::post_header(page=page) }}

    <main>
        {% if page.extra.github %}
        <p>
            <a href="{{ page.extra.github }}"><small><i class="fa fa-github" aria-hidden="true"></i> The code from this article is available on GitHub.</small></a>
        </p>
        {% endif %}

        {{ page.content | safe }}

        {% if page.extra.github %}
        <p>
            <a href="{{ page.extra.github }}"><small><i class="fa fa-github" aria-hidden="true"></i> The code from this article is available on GitHub.</small></a>
        </p>
        {% endif %}

        {% if page.date %}
            <div id="disqus_thread"></div>
            <script>
            
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.url = "{{ page.permalink | safe }}";  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "{{ page.slug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://joe-clay.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
    </main>
</article>
{% endblock content %}