{% extends "index.html" %}
{% import "macros.html" as macros %}

{% block content %}
    <article class="post-body">
        {{ macros::post_header(page=page) }}

        <main>
            {% if page.extra.note %}
                <aside class="post-body__note">
                    <h3 class="post-body__note__title">Hey, listen!</h3>
                    <p class="post-body__note__text">{{ page.extra.note | markdown(inline=true) }}</p>
                </aside>
            {% endif %}

            {{ page.content | safe }}

            {% if page.date %}
            <script src="https://utteranc.es/client.js"
                repo="17cupsofcoffee/seventeencups.net"
                issue-term="url"
                theme="github-light"
                crossorigin="anonymous"
                async>
            </script>
            {% endif %}
        </main>
    </article>
{% endblock content %}