{% extends "index.html" %}

{% block title %}
    <title>{{ tag.name }} - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ config.description }}">
    <meta property="og:title" content="{{ tag.name }} - {{ config.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ get_url(path="logo.jpg") }}">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block content %}
    {% for page in tag.pages %}
        {{ macros::post_header(page=page) }}
    {% endfor %}
{% endblock content %}