{% extends "index.html" %}

{% block title %}
    <title>Tags - {{ config.title }}</title>
{% endblock title %}

{% block meta %}
    <meta name="description" content="{{ config.extra.description }}">
    <meta name="og:title" content="Tags - {{ config.title }}">
    <meta name="og:type" content="website">
    <meta name="og:image" content="{{ get_url(path="logo.jpg") }}">
    <meta name="og:url" content="{{ current_url }}">
    <meta name="og:description" content="{{ config.extra.description }}">
    <meta name="og:site_name" content="{{ config.title }}">
{% endblock meta %}

{% block content %}
    {% for tag in tags %}
        <header class="PostHeader">
            <h1 class="PostHeader__title"><a href="/tags/{{ tag.slug }}">{{ tag.name }}</a></h1>
            <p class="PostHeader__info">
                {{ tag.pages | length }} post{{ tag.pages | length | pluralize }}
            </p>
        </header>
    {% endfor %}
{% endblock content %}